fieldset {
    border-bottom: 0px !important;
}
.rbc-time-view {
    display: none !important;
}
/* .col-xs-1-4 {
    width: 11.99995%;
    padding-left: 18px;

    
  }
  @media only screen and (max-width: 1024px){
    .col-xs-1-4 {
        width: 11.50000%;
      }
      .total-hours{
        width: 150%;
  
        }
  }
  @media only screen and (max-width: 768px){
    .col-xs-1-4 {
        width: 20.50000%;        
      }
      .total-hours{
        width: 150%;
  
        }
  }
  @media only screen and (max-width: 320px){
    .col-xs-1-4 {
        width: 25.50000%; 
      }
      .total-hours{
      width: 150%;

      }
  } */
.rbc-toolbar button.rbc-active {
    background-image: none;
    box-shadow: none !important;
    background-color: #23b7e5 !important;
    border-color: none !important;
    color : #fff !important
}
.rbc-toolbar button:active{

    background-color: #23b7e5 !important;

}
th{
    text-transform: uppercase;
    font-weight: 600
}
.cursor {
    cursor: pointer;
}
.rbc-event-content {
  text-align: center !important;
}
.rbc-event {
  background-color: #23b7e5 !important;
}
.text-center{
  text-align: center !important;
}
.badge {
  padding: 0.4875rem 0.9rem !important;
  font-size: 0.75rem;
  border-radius: 20px !important;
  background: #23b7e5;
}