fieldset {
    border-bottom: 0px !important;
}
.rbc-time-view {
    display: none !important;
}
.col-xs-1-4 {
    width: 11.99995%;
    padding-left: 18px;

    
  }
  @media only screen and (max-width: 1024px){
    .col-xs-1-4 {
        width: 11.50000%;
      }
      .total-hours{
        width: 150%;
  
        }
  }
  @media only screen and (max-width: 768px){
    .col-xs-1-4 {
        width: 20.50000%;        
      }
      .total-hours{
        width: 150%;
  
        }
  }
  @media only screen and (max-width: 320px){
    .col-xs-1-4 {
        width: 25.50000%; 
      }
      .total-hours{
      width: 150%;

      }
  }
.rbc-toolbar button.rbc-active {
    background-image: none;
    box-shadow: none !important;
    background-color: #5d9cec !important;
    border-color: none !important;
}
.rbc-toolbar button:active{

    background-color: #5d9cec !important;

}
th{
    text-transform: uppercase;
    font-weight: 600
}
.cursor {
    cursor: pointer;
}